body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.meal-planner-page {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    align-items: center;
    background-color: #d0c866;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure header is on top */
}

header h1 {
    margin: 0;
}

.week-selector {
    align-items: center;
    display: flex;
}

.week-selector label {
    margin-right: 10px;
}

.sidebar2 {
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 200px;
    height: 800px;
    position: absolute;
    top: 75px; /* Adjust according to the header height */
    bottom: 0;
    z-index: 999; /* Ensure sidebar is above the main content */
}

.sidebar2 button {
    background-color: #d0c866;
    border: none;
    border-radius: 6px;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
    text-align: left;
    width:80%;
    margin:20px;
    margin-left: 3px;
}

.main-content2 {
    margin-left: 350px; /* Adjust according to the sidebar width */
    padding: 10px;
    flex-grow: 1;
    padding-top: 100px; /* Adjust according to the header height */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    flex-grow: 1;
   
}

.meal-planner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.day {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.meal {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1A1A19;
    color: white;
    margin-top: auto;
}
